<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/style1.css">
      <link rel="stylesheet" href="css/style2.css">
    <title>Text Effect-About Us</title>
</head>
<body>
    {{>navbar}}
<main class="main2">
    <h1 class="abouth">ABOUT ME</h1>
    <p class="aboutp">Hello, My Name is Mohit Bagdi. </p>
    <p class="aboutp">I am a Electronics and Comunications Engineering Student.</p>
    <p class="aboutp">This Website is all about to help others to Create some Awesome and Cooling text and user can also download that text as png or jpeg format. </p>
    <p class="aboutp">You can use this images anywhere you want this are completely Copyright free, Feel free to use !</p>
     
    {{!-- <p class="greetcontroller">{{greet}}</p> --}}
</main>
    <footer>
        <p>Copyright &copy; Mohit Bagdi </p>
    </footer>
</body>
</html>