<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>font}}

    <link rel="stylesheet" href="css/style1.css">
    <title>Text Effect</title>
</head>

<body>
    {{>navbar}}
    <div class="intro">
        <h1 class="introline">CREATE SOME</h1>
        <h1 class="introline">AWESOME</h1>
        <h1 class="introline">TEXT</h1>
    </div>

    <main class="main">
        <div class="boxcontroller">

            <div class="effectcontroller box">
                <input type="text" class="text1input" placeholder="Enter Text Here">
                
                {{!-- <div>
                 <label for="">Pick Color: </label>
                <input type="color" class="color">
                </div> --}}

                <button class="btn1">Convert</button>
                <a class="btn2" download="">Download-png</a>
                <a class="btn2" download="">Download-jpeg</a>
            </div>

            <canvas class="box text" id="text1">
            </canvas>
 
        </div>

        <div class="boxcontroller">

            <div class="effectcontroller box">
                <input type="text" class="text1input" placeholder="Enter Text Here">
                <button class="btn1">Convert</button>
                <a class="btn2" download="">Download-png</a>
                <a class="btn2" download="">Download-jpeg</a>
            </div>

            <canvas class="box text" id="text2">
            </canvas>

        </div>

        <div class="boxcontroller">

            <div class="effectcontroller box">
                <input type="text" class="text1input" placeholder="Enter Text Here">
                <button class="btn1">Convert</button>
                <a class="btn2" download="">Download-png</a>
                <a class="btn2" download="">Download-jpeg</a>
            </div>

            <canvas class="box text" id="text7">
            </canvas>

        </div>

        <div class="boxcontroller">

            <div class="effectcontroller box">
                <input type="text" class="text1input" placeholder="Enter Text Here">
                <button class="btn1">Convert</button>
                <a class="btn2" download="">Download-png</a>
                <a class="btn2" download="">Download-jpeg</a>
            </div>

            <canvas class="box text" id="text4">
            </canvas>

        </div>

        <div class="boxcontroller">

            <div class="effectcontroller box">
                <input type="text" class="text1input" placeholder="Enter Text Here">
                <button class="btn1">Convert</button>
                <a class="btn2" download="">Download-png</a>
                <a class="btn2" download="">Download-jpeg</a>
            </div>

            <canvas class="box text" id="text5">
            </canvas>

        </div>

        <div class="boxcontroller">

            <div class="effectcontroller box">
                <input type="text" class="text1input" placeholder="Enter Text Here">
                <button class="btn1">Convert</button>
                <a class="btn2" download="">Download-png</a>
                <a class="btn2" download="">Download-jpeg</a>
            </div>

            <canvas class="box text" id="text6">
            </canvas>

        </div>

        <div class="boxcontroller">

            <div class="effectcontroller box">
                <input type="text" class="text1input" placeholder="Enter Text Here">
                <button class="btn1">Convert</button>
                <a class="btn2" download="">Download-png</a>
                <a class="btn2" download="">Download-jpeg</a>
            </div>

            <canvas class="box text" id="text3">
            </canvas>

        </div>

    </main>

    <footer>
        <p>Copyright &copy; Mohit Bagdi </p>
    </footer>

    <script src="index.js"></script>
</body>

</html>