<nav class="navbar">
    <div class="navbarimg">
        <img src="logo.png" alt="">
    </div> 
    <div class="navbarlist">
       <li class="navbaritem"><a href="/">HOME</a></li>
       <li class="navbaritem"><a href="/about">ABOUT US</a></li>
       <li ><a href="/contact">CONTACT</a></li>

    </div> 
</nav>